body {
  width: 100vw;
  background: #222831;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.btn{
  width: 80vw;
  padding: 10px;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 10px;
  margin: 4px;
}

fieldset{
  width: 70vw;
  margin: 10px;
  text-align: center;
}

.map {
  height: 200px;
  width: 100%;
}